.bg-ss{
    background-color: var(--color4);
}
.hd-ss{
    background-color: var(--color3);
}
.hd-red{
    background-color: #ff0404;
}
.hd-yel{
    background-color: var(--color1);
}
.card-header.hd-ss{
    color: var(--color4);
    font-weight: bold;
}

.display-5{
    font-size: 2.8rem !important;
    font-weight: 300;
    line-height: 1.2;
}

.card .col{
    margin: 0 !important;
}
.text-shadow{
    text-shadow: 1px 1px 2px #0005;
}
#img-main{
    width: 225px;
    margin: 25px 0;
}
table.score tr:nth-child(even){
    background: #f8f9fa;
}
table.score{
    font-size: 14px;
}
table.score tbody{
    font-size: 13px;
}